.main-taller {
    display: flex;
    background-color:  #f2ecd8;
    img {
        margin: 5px;
        width: 50%; 
      
    }
    p {
        line-height: 2;
        margin: 40px 80px;
        text-align: center;
    }
}

.seminarios-taller {
    h2 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.clases_seminarios {
    display: flex;
    flex-direction: row;
    @include breakpoint(sm) {
        flex-direction: column;
        align-items: center;
    }
    @include breakpoint(xs) {
        flex-direction: column;
    }}
    .clase_card {
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 30px 20px;
        margin: 10px 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       border-radius: 15px;
        @include breakpoint(sm) {
            
            border-radius: 10px;
            font-size: 1rem;
            padding: 10px 5px;
        }
        @include breakpoint(xs) {
            
            border-radius: 7px;
            font-size: 1rem;
            padding: 10px 5px;
        }
        h4{
            margin: 5px 0;
        }
        i{
            display: inline-block;
            transform: rotate(0);
            transition: ease-out 1s;
            color: #d8d2bf;
            font-size: 2rem;
            &:hover {
                transform: rotate(360deg);
                transition: ease-out 1s;
            }
        }
        
        p {
            margin: 20px 0;
            text-decoration: none;
        }
        .btn-light {
            background-color: #791151;
            border: none;
            &:hover {
                background-color: #312738;
            }
            a {
                text-decoration: none;
                &:hover {
                   color: white; 
                }
             
            }
        }
    }
    
     

.galeria-taller {
    display: flex;
    grid-template-rows: 250px 250px 250px 250px;
    grid-gap: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: #d7d9d9;
    margin-top: 20px;
    img {
        width: 100%;
        max-width: 250px;
        height: 100%;
        max-height: 250px;
    }
    img:hover {
        transform: scale(1.5);
        transition: ease-out 0.4s;
        z-index: 9;
    }
    @include breakpoint(xs) {
        flex-direction: column;
        grid-template-columns: 250px;
    }
}